streamlit
ollama

langchain
langchain-community
langchain-text-splitters

faiss-cpu
sentence-transformers

pypdf

torch
diffusers
transformers
accelerate

ultralytics
opencv-python-headless
pillow

speechrecognition
streamlit-mic-recorder

pandas
openpyxl

python-docx
python-pptx
unstructured

numpy
